$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

input[type=search] {
    &:focus { background-color: $gray-lighter; }
    box-sizing: border-box;
    background-color: #FFF;
    border: 0 none transparent;
    border-radius: 0;
    -webkit-appearance: none;
    padding: 8pt;
    width: 100%;
    &:placeholder {
        opacity: 1;
    }
}

.navbar-form {
    position: relative;
    &, & .form-group, & .autosearch {
        width: 100%;
    }
}

.hidden, .actions { display: none; }

.autosearch + .searchselectors {
    position: absolute;
    top: $navbar-height;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 1000;
    box-shadow: #000 0 0 5px;
}

.searchselectors {
    background-color: #FFF;
    border-radius: 4pt;
    overflow: hidden;
    &, & ul { padding: 0; }
    .group > .title { background-color: $gray-lighter; }
    li { 
        list-style: none;
        span { padding: 4pt; display: block; }
    }
    .selected, li.item:hover {
        background-color: $brand-primary;
        color: FFF;
        span {
            cursor: pointer;
            color: #FFF;
        }
    }
}