body {
  background-color: #22313F;
  color: #FFF;
}

a { color: #FFF; }

.searchselectors.hidden, .actions {
  display: none;
}

input[type=search] {
  &:focus { background-color: #34495E; }
  @include box-sizing(border-box);
  background-color: #2C3E50;
  border: 0 none transparent;
  border-radius: 0;
  -webkit-appearance: none;
  padding: 8pt;
  width: 100%;
  @include placeholder {
    opacity: 1;
    color: #6BB9F0;
  }
}

.searchselectors {
  background-color: #2C3E50;
  border-radius: 4pt;
  overflow: hidden;
  padding: 0;
  li { 
    list-style: none;
    span { padding: 8pt; display: block; }
    //b.query { display: block; }
    b.query { display: inline-block; vertical-align: baseline; margin-left: 0.165em; }
  }
  .selected, li:hover { background-color: #FFF; color: #2C3E50; span { cursor: pointer; color: #2C3E50; } }
}
